<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="An easy to use markdown directive with outlining and html sanitizing.">
  <meta name="keywords" content="angular, angularjs, markdown">
  <link rel="shortcut icon" href="app/assets/favicon.ico">

  <title>angular-markdown-text</title>

  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
  <% _.forEach(css, function(include) { %>
  <link rel="stylesheet" href="<%-include%>"><%
  }); %>

  <!--[if lt IE 9]>
  <script src="vendor/html5shiv/dist/html5shiv.min.js"></script>
  <script src="vendor/respond/dest/respond.min.js"></script>
  <script src="vendor/jquery/dist/jquery.min.js"></script>
  <![endif]-->

</head>
<body>

<header>
  <div app-navbar></div>
</header>

<section ng-view></section>

  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/angular-sanitize/angular-sanitize.js"></script>
  <script src="vendor/angular-route/angular-route.min.js"></script>
  <script src="vendor/showdown/compressed/showdown.js"></script>
  <script src="vendor/showdown/compressed/extensions/github.js"></script>
  <script src="vendor/showdown/compressed/extensions/google-prettify.js"></script>
  <script src="vendor/showdown/compressed/extensions/twitter.js"></script>

  <% _.forEach(js, function(include) { %>
  <script src="<%-include%>"></script><%
  }); %>

</body>
</html>
